In [5]:
import pandas as pd
import random
import string

# Definizione dei dati casuali per la tabella customer
customer_cd = [i+1 for i in range(100)]
surname = [''.join(random.choices(string.ascii_uppercase, k=10)) for i in range(100)]
name = [''.join(random.choices(string.ascii_uppercase, k=10)) for i in range(100)]
address = [''.join(random.choices(string.ascii_uppercase + string.digits, k=20)) for i in range(100)]
city = [''.join(random.choices(string.ascii_uppercase, k=10)) for i in range(100)]
region = [''.join(random.choices(string.ascii_uppercase, k=10)) for i in range(100)]
country = [''.join(random.choices(string.ascii_uppercase, k=10)) for i in range(100)]
postal_code = [random.randint(10000, 99999) for i in range(100)]
email = [''.join(random.choices(string.ascii_lowercase + string.digits, k=10)) + '@' + ''.join(random.choices(string.ascii_lowercase + string.digits, k=5)) + '.com' for i in range(100)]

# Creazione del dataframe per la tabella customer
customer = pd.DataFrame({
    'customer_cd': customer_cd,
    'surname': surname,
    'name': name,
    'address': address,
    'city': city,
    'region': region,
    'country': country,
    'postal_code': postal_code,
    'email': email
})

In [6]:
customer

,customer_cd,surname,name,address,city,region,country,postal_code,email
0,1,BJKTGGYIQX,PYPWTRWHFX,1YSAQKQ1EZG0DNZUU2O3,OMNXPUHCHV,FRDXOWIWVP,WIGQYXELWV,40707,5cg9255k9t@qr80c.com
1,2,ZJJLNEDBUS,GNJKMABDTQ,63C1TFJT4VIBXQ2992DR,IVJTEEBAAP,LKTVUMDTDV,JJGUNLHTHC,35032,f2k3gmze5z@6jxbg.com
2,3,MHKMODCLGJ,UYNFQBTIOV,SJBKQ017O0T9VUSBGARJ,YHRUFLIEAY,FZKBHEQXSE,YDFMPKAUWI,90821,upfmhxs18u@3pkec.com
3,4,EWLAKOBXOK,PQTSWOCZDZ,FPRF42VWP6CTH63WQ0T3,XSLEHDUZLV,KGCIZCVWMU,QUEIRUVEVE,42986,7dqss6jddi@312ut.com
4,5,SCDRTXTZNH,MBBUFVXTWT,UYGAOE5S73IQ53U0D3RW,APFVTXABGU,FFQYUHFBUW,MPGCXUZVKK,50090,blaun3x263@lwgca.com
...,...,...,...,...,...,...,...,...,...
95,96,AVDAPEZHGN,NUUOPYUUKD,SEZGXJD1TS2LSLDTZHOY,DDQDCNSVXV,PMLAEQLYWW,BIUZCZGRUG,10817,iwmbq5nyk8@89ur6.com
96,97,DQNJPZLXBF,NKMIUDNXED,LNOCJL4W92B8J91E10WC,QIZAFUFZQD,HALBMGVPTY,XZZYTYEZUU,75141,1511qqayh1@hl8iu.com
97,98,WFNUVDSITP,HOEXLHGEZU,JX7EDGIVUYDS53QFLTJI,OQOYILEWQG,QEYIKSCHUU,ZBLVJZOMIO,73096,fonrny9a6r@akbvh.com
98,99,KGCHMOZHBI,FGBPWZIOJM,IS6BHPVSH2I7RTF2ECS5,FTMJKATMYZ,MFOPQUHXJI,ZPKOIOPVCJ,67160,yt6b96nrct@sbi9k.com
99,100,SWVPDPZTVE,OMFCNWGCCW,YEOJ8W2FZ5EZBO63QQ3S,OTLZKSZXJH,OTKVANRMUE,AOJQPAEUKY,22239,b4eqfkqn05@gr2h2.com

In [7]:
product_cd = [i+1 for i in range(50)]
name = [''.join(random.choices(string.ascii_uppercase, k=10)) for i in range(50)]
description = [''.join(random.choices(string.ascii_uppercase + string.digits, k=20)) for i in range(50)]
category = ['Category ' + str(random.randint(1, 5)) for i in range(50)]
unit_price = [round(random.uniform(10, 1000), 2) for i in range(50)]

# Creazione del dataframe per la tabella products_catalog
products_catalog = pd.DataFrame({
    'product_cd': product_cd,
    'name': name,
    'description': description,
    'category': category,
    'unit_price': unit_price
})

In [8]:
products_catalog

    product_cd        name           description    category  unit_price
0            1  EWFHCYYTKQ  J411Z8L4G262A5RPOZBB  Category 3      318.14
1            2  QCXVCWOYPI  0S4F44YV4TD7FCRJRA6W  Category 4      382.92
2            3  VRHUTPXXOF  60CLNSTCR6O1FCH5EQ9J  Category 5      515.25
3            4  NPOTEHUOSD  5AFGF8FZVHCU6MWB5N38  Category 1      376.27
4            5  PDXLFKSZUW  K2KXI8W9OA71WDR3Z21C  Category 1      336.15
5            6  KSXITNQUZO  FZG96F5CFUTUNQVSIE3A  Category 4      145.27
6            7  YIDTLRKJSZ  RZ63YPA33LS4E3GUNOE5  Category 4      815.64
7            8  MBALNZCWKR  CI4Z0BQQ4H0M6JAQWTCJ  Category 2       11.98
8            9  JNHAGJOHEV  2HC8E2C2E27TN4UHA1ZT  Category 2      171.64
9           10  XGKYNVZCYN  ME1A9SH9V7FOH3OEO18W  Category 2      325.79
10          11  DMBGAYESQY  U9C8K82CCF2XD5E4YPWV  Category 3      142.72
11          12  VQZZLVLYIY  RVSNB132DPSH5RU7CNAF  Category 5      457.98
12          13  DULFVOPVPO  KPTTBWU0T9K27TQHVZPM  Category 1      251.72
13          14  WDPQYRHSDR  8BNSQHD72IZLQ4DA9DWF  Category 1      223.01
14          15  SLJORUVVWY  VGJ4UF7GKETDUMQP8I6L  Category 2      539.84
15          16  TENZRCCBYB  840UAGXDV9OODHE95UG5  Category 3      351.27
16          17  OFLATHAILK  Q64CPUUOS3P7SO5Z2B6Q  Category 4      344.11
17          18  HIZKBHPLMI  10GAN91AAAMPVUUJMQ4R  Category 3      257.91
18          19  YRSQUTITQG  Y3HIRGRG5EAHNSMQPS4B  Category 5      937.95
19          20  HSHNGOXXIX  X87WLNL9TKKZGNESOAK1  Category 5      626.83
20          21  IVVMHYNNBU  C5DMAVESING624GN09W1  Category 4      913.97
21          22  JZIPVYWHQV  1GCGZDKS73S02W8ZLZCU  Category 4       21.36
22          23  CZAXFBICAZ  F9H2RNKOPP1WVL261E9N  Category 3      257.37
23          24  GWBIUIPUSS  ECB07H6241Y13MGL1KMT  Category 5      557.70
24          25  VPCECZBMBG  DUK7ORK6ETB8R8XIDOTD  Category 1      620.47
25          26  CQYVUIWCJA  RS99FT5R7C83L18REU5G  Category 3      986.55
26          27  NIHELDKNSI  CWMIRO9S9S393ZAS8ANX  Category 1      456.49
27          28  IIVUWYDVSO  KBIU2GNY6QJCV4WF7RNN  Category 3      211.06
28          29  MLFEUDJQSP  V8ZRH1O6NGX7REMKAEQX  Category 1      102.45
29          30  XHHUFXRMGK  KRXLO74Y0IB6LIOPJT2S  Category 2      445.82
30          31  AKGYDMOFXS  9B3FN18VZCXHH9Q5R9UX  Category 1      716.40
31          32  OPVHYKONDG  AGPDRXWTF4VDJGCB5CSU  Category 3      171.19
32          33  ZAQBJYSIFA  OALJZIO9UM54REXGFZ7E  Category 2      243.35
33          34  QKJIZWZTED  L1Y3I6X2ECIV0QRF4KT2  Category 1      953.81
34          35  SWHFSMRHSL  U3PRREUNOJW02U69KAFP  Category 2      859.19
35          36  JRDDJLUVHV  VFIJT15L25BXCPSJL0RM  Category 1      687.09
36          37  ZGFSWDKKGA  FJWWC048W547E1V5I84B  Category 3       70.70
37          38  DEWCZYZLPY  NXZZNWTBKWKGJ1VJ868P  Category 3      143.19
38          39  ZHGCXVWRHO  PDM6OPNWFVA6VPA450AM  Category 3      919.61
39          40  IKMQISLBUO  5IJFEZZML6JB0VC3EAX4  Category 2      871.58
40          41  CXNNUUAARU  XPU0OO6Y6NDI7SCJAEA5  Category 5      205.31
41          42  NRAOKVBKHU  6EY3WHC82YCHZTSCCPU1  Category 1      465.43
42          43  YYYOXLHGTE  KG1BOJ2E5BZVRZEQSS2R  Category 2      205.52
43          44  QDCBNQAZLJ  SAZZ6YFWK7SS2Z13EYWH  Category 4      942.34
44          45  MRVNQFEXZT  DFQPB0TG006DE3S0BOAA  Category 3      627.08
45          46  UOESUZVPBU  I620AR2RJ6D8SKZOTMSI  Category 1      689.55
46          47  DYZWZLMCBE  AJRZDSBLL5C0N23N8BWR  Category 3      342.84
47          48  XETXMWMJVA  1U96C489GAS10RALI2CH  Category 1      778.08
48          49  RXQNLWGEVK  ITQ6BABQKXUV8K97SXB7  Category 5      377.26
49          50  VWFOVQDCMC  931PM7YYT14TBWYDEB2B  Category 4      329.60

In [9]:
n_rows = 10000
order_num = [i+1 for i in range(n_rows)]
datetime = pd.date_range(start='2022-01-01', end='2022-01-01', periods=n_rows).round('1s')
customer_cd = [random.randint(1, 100) for i in range(n_rows)]
product_cd = [random.randint(1, 50) for i in range(n_rows)]
unit_price = [round(random.uniform(1, 100), 2) for i in range(n_rows)]
quantity = [random.randint(1, 5) for i in range(n_rows)]
discount = [round(random.uniform(0, 0.5), 2) for i in range(n_rows)]
total_amount = [round(unit_price[i] * quantity[i] * (1 - discount[i]), 2) for i in range(n_rows)]

# Creazione del dataframe per la tabella billing_orders
billing_orders = pd.DataFrame({
    'order_num': order_num,
    'datetime': datetime,
    'customer_cd': customer_cd,
    'product_cd': product_cd,
    'unit_price': unit_price,
    'quantity': quantity,
    'discount': discount,
    'total_amount': total_amount
})

In [10]:
billing_orders

,order_num,datetime,customer_cd,product_cd,unit_price,quantity,discount,total_amount
0,1,2022-01-01,48,36,72.09,5,0.27,263.13
1,2,2022-01-01,30,30,88.35,3,0.29,188.19
2,3,2022-01-01,80,37,94.38,5,0.47,250.11
3,4,2022-01-01,17,18,99.36,4,0.36,254.36
4,5,2022-01-01,97,12,28.79,5,0.01,142.51
...,...,...,...,...,...,...,...,...
9995,9996,2022-01-01,44,39,87.64,5,0.32,297.98
9996,9997,2022-01-01,50,36,86.41,5,0.29,306.76
9997,9998,2022-01-01,94,48,81.86,4,0.26,242.31
9998,9999,2022-01-01,29,31,35.62,1,0.14,30.63
9999,10000,2022-01-01,12,9,55.19,5,0.24,209.72

In [ ]:
billing_orders.to_csv()